.prodacttt{
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: scroll;
    color: #fff;
}
.prodacttt img{
    width: 60vmin;
    height: 60vmin;
    border: 1px solid;
    border-radius: 30px;
}
.prodacttt div{
    display: grid;
    justify-items: center;
    margin: 10px;
}
.prodacttt hr{
    width: 90%;
    margin: 10px;
}
.prodacttt p{
    margin: 19px;
    font-size: x-large;
}